*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
}

.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: monAnimation 5s;

}

.text-box h1{
    text-transform: uppercase;
    font-size: 1.5rem;
}

.text-box h1 small{
    font-size: .5rem;
}


@keyframes monAnimation{
    from{
        opacity: 0;
        top: 0;
    }

    to{
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}